@model Post
@{
    bool isNew = string.IsNullOrEmpty(Model.Title);
    ViewData["Title"] = "Edit " + (Model.Title ?? "new post");
}

@section Head{
    <link rel="stylesheet" href="~/css/admin.scss" />
}

<form method="post" id="edit" class="container" asp-controller="Blog" asp-action="UpdatePost">
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="@Model.ID" />

  

   <div class="container caption">
  
     <div class="row">
      <div class="input-group mb-3 col">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
            </div>
            <input type="text" asp-for="@Model.Title" class="form-control"  aria-describedby="inputGroup-sizing-default">
        </div>

  
      <div class="input-group mb-3 col">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Slug</span>
            </div>
            <input type="text" asp-for="@Model.Slug" class="form-control"  aria-describedby="inputGroup-sizing-default">
        </div>
       </div>
    <div class="row">
      <div class="input-group mb-3 col">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Tags</span>
            </div>
            <input type="text" id="categories" value="@string.Join(", ", Model.Categories)" class="form-control"  aria-describedby="inputGroup-sizing-default">
      </div>

    
      <div class="input-group mb-3 col">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Excerpt</span>
            </div>
            <input type="text" id="categories" asp-for="@Model.Excerpt" class="form-control"  aria-describedby="inputGroup-sizing-default">
      </div>
       </div>
       </div>

   

    <textarea asp-for="@Model.Content" rows="20" aria-label="Content">@Model.Content</textarea>

    <br />

    <input type="submit" class="btn btn-primary" value="Save" title="Save the post" />

    <input asp-for="@Model.IsPublished" />
    <label asp-for="@Model.IsPublished">Is published</label>

    @if (!isNew)
    {
        <input type="submit" class="btn btn-primary float-right" value="Delete"  title="Delete the post..." asp-action="DeletePost" asp-route-id="@Model.ID" />
    }
</form>

@section Scripts {
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script src="~/js/admin.js" async></script>
}